@import "../../../../styles.scss";

.image-container{
    margin-left: 15%;
    width: 52.5%;
    margin-right: 2.5%;
    background-color: $my-primary-color;
    border-radius: 25px;
    height: 90%;
    color: #014732;
    text-align: justify;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    text-overflow:ellipsis;
}

.system-name-input{
    width: 100%;
}

.system-name-container{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions-container{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer{
    background-color: $my-secondary-color;
    color: red;
    padding: 0 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
    border: $my-primary-color 1px solid;
    font-size: 1em;
}

.action{
    margin-top: 10px;
    width: 60%;
}

p{
    padding: 10px;
    margin: 0;
}

.header-container{
    display: flex;
    align-items:flex-end;
    height: 30%;
}

.content-container{
    height: 70%;
    width: 70%;
    margin: 0% 15%;
}

.requirement{
    margin: 5px 0px;
    padding: 10px;
    background-color: $my-secondary-color !important;
    color: $my-dark-color !important;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 25px;
    display: flex;
}

.requirement-with-continuation{
    width: 82.5%;
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.requirement-text{
  padding: 0px;
  margin: 0px;
  max-width: 80%;
  margin-right: 10px;
  text-align: justify;
}

.type-select{
    width: 17.5%;
}

input[type=text],input[type=number], select, textarea {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    color: $my-dark-color;
    font-size: 24px;
}

.continuation{
    min-width: 17.5%;
}
select{
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    background-position-x: 95%;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    border: 1px solid $my-dark-color !important;
  }