@import "../../../../styles.scss";

.header{
    background-color: $my-dark-color;
    height: 5vw;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text{
    margin: 0;
    text-align: center;
    color: $my-secondary-color;
    font-size: 2.5vw;
    font-weight: bold;
    vertical-align: middle;
}

.item{
    display: block;
    text-align: center;
}

p{
    padding: 0;
    margin: 0;
}

.item-row{
    padding: 15px 0px;
}

.item-header{
    font-size: 2vw;
    font-weight: bold;
    color: $my-dark-color;
}

.item-value{
    padding: 5px 10px;
    font-size: 1.8vw;
    font-weight: bold;
    color: $my-primary-color;
    text-decoration: none; 
    text-overflow: ellipsis; 
    overflow:hidden;
    white-space: nowrap;
    max-width: 100%;
}

.score-header{
    font-size: 4.2vw;
    font-weight: bold;
    color: $my-dark-color;
}

.score-value{
    padding: 5px 10px;
    font-size: 4.2vw;
    font-weight: bold;
    color: $my-primary-color;
    max-width: 100%;
}

.button-conainer{
    height: 4vw;
    display: flex;
    justify-content:center;
    align-items: center;
}

.overlay-button{
    margin-top: 10px;
    cursor: pointer !important; 
    font-size: 1.5vw !important;
    width: 10vw !important;
    min-height: 3vw !important;
    border-radius: 25px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}