@import "../../../styles.scss";

.row {
    display: flex;
    height: 90%;
  }
  
.column {
    flex: 50%;
}

.header{
  display: flex;
  height: 10%;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: $my-dark-color;
}

.hints{
  float: right;
  margin-right: 30px;
}

input {
  vertical-align: middle;
  background-color: $my-primary-color;
}

label {  
  margin-right: 20px;
  vertical-align: middle;
}

.list{
  margin: 0% 25%;
}

mat-list{
  overflow: auto !important;
  max-height: 98.5%;
  margin: 0% 15%;
}

mat-list-item{
  background-color: #BBD4CE;
  margin-bottom: 10px;
  height: 100px !important;
  min-width: 50% !important;
  border-radius: 50px;
  font-size: 36px !important;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}