<div class="header">
    <div class="column" style="text-align: center;">
        Select the task:
    </div>
    <div class="column">
        <div class="hints">
            <label for="hints">Hints</label>
            <input type="checkbox" id="hints" (change)="onHintsStateChange($event)" [checked]="hintsEnabledObs | async">
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <mat-list role="list">
            <mat-list-item mat-button role="listitem" *ngFor="let task of tasksObs | async" (click)="chooseDifficulty(task.id, task.type)">
                <p class="task-title">{{task.order}}. {{task.type}}</p>
            </mat-list-item>
          </mat-list>
    </div>
    <div class="column">
        <mat-grid-list cols="1" rowHeight="240px" gutterSize="20px" class="list">
            <ng-container *ngFor="let tile of tiles">
                <mat-grid-tile  *ngIf="tile.isVisible" class="rounded-item" (click)="goToSubModule(tile.navigation)">
                    <h1 class="tile-header">{{tile.header}}</h1>
                    <mat-grid-tile-footer class="rounded-item footer">
                        <p class="tile-text">{{tile.text}}</p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list> 
    </div>
</div>
