@import "../../styles.scss";

mat-grid-tile{
    background-color: $my-primary-color;
}

.list{
    margin: 0% 15%;
}

.rounded-item{
    border-radius: 50px;
}

.footer{
    height: 100px !important;
    font-size: 20px;
}