@import "../../../../../styles.scss";

.form-container{
    margin: 0px 20%;
    background-color: $my-primary-color;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

.row {
display: flex;
}