<div style="height: 30px;"></div>
<div class="form-container">
    <div class="direction-ltr">
        <form [formGroup] = "taskForm" (ngSubmit)="onSubmit()" class="task-form">
            <div class="row">
                <label for="name" class="col col-25">Objective:</label>
                <div class="col col-75">
                    <textarea
                    style="margin-right: 12px;"
                    type="text"
                    id="name"
                    rows="2"
                    class="form-control"
                    formControlName="objective">
                </textarea>
                </div>
            </div>
            <div class="row justify-around">
                <label for="complexity" class="col col-25">Complexity:</label>
                <div class="col">
                    <input 
                    style="max-width: max-content; margin-right: 20px;"
                    type="number" 
                    id="complexity"
                    class="form-control"
                    formControlName="complexity">
                </div>
                <div class="col justify-center">
                    <label for="typeId" style="margin-left: 20px;" class="col col-25">Type:</label>
                    <div class="col">
                        <input 
                        style="max-width:max-content"
                        type="number" 
                        id="typeId"
                        class="form-control"
                        formControlName="typeId">
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="tips" formArrayName="tips">
                    <div class="row"
                        *ngFor="let tips of taskForm.get('tips')['controls']; let i = index"
                        [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col col-75">
                            <input 
                                type="text" 
                                class="form-control"
                                formControlName="description">
                        </div>
                        <div class="col col-25 justify-center">
                            <button type="button"
                             mat-raised-button
                             color="warn"
                             (click)="onDeleteTip(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-end">
                <div class="col  col-25 justify-center">
                    <button mat-raised-button 
                    style="margin-top: 10px"
                    type="button"
                    (click)="onAddTip()"
                    color="primary">
                    Add tip</button>
                </div>
            </div>

            <hr>

            <div class="row justify-center">
                <div class="col">
                    <button mat-raised-button
                     color="primary"
                    class="submit" >
                     Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

