<div style="height: 5%"></div>
<mat-list role="list">
    <mat-list-item mat-button role="listitem" *ngFor="let statistic of statisticObs | async">
        <div class="list-item">
            <div class="date-container">
                <p class="date">{{statistic.datePassed | date:'dd/MM/yyyy, h:mm a'}}</p>
            </div>
            <div class="vertical-line"></div>
            <div class="task-name">
                <p class="task-title">{{statistic.objective}}</p>
            </div>
            <div class="icon-display">
                <mat-icon (click)="info(statistic.answerId)">info</mat-icon>
            </div>
        </div>
    </mat-list-item>
</mat-list>

<div class="button-container">
    <button mat-raised-button color="primary" class="short-statistics-button" (click)="onShortStat()">Short Statistics</button>
</div>