<div style="height: 5%"></div>
<mat-list role="list">
    <mat-list-item mat-button role="listitem" *ngFor="let task of tasksObs | async">
        <div class="list-item">
            <div class="task-name">
                <p class="task-title">{{task.order}}. {{task.type.name}}</p>
            </div>
            <div class="icon-display">
                <mat-icon>bar_chart</mat-icon>
                <mat-icon (click)="editTask(task.id)">edit</mat-icon>
                <mat-icon (click)="deleteTask(task.id)">delete_outline</mat-icon>
            </div>
        </div>
    </mat-list-item>
</mat-list>

<div class="button-container">
    <button mat-raised-button color="primary" class="add-button" (click)="addTask()">Add</button>
</div>