@import "../../../styles.scss";

.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 36px;
    text-align: center;
    color: $my-dark-color;
}

.form-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 85%;
}

.login-form{
    min-width: 100%;
}

.form-content{
    display: flex;
    width: 30%;
    padding: 20px;
    background-color: $my-secondary-color;  
    border-radius: 50px;
}

input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    color: $my-dark-color;
    font-size: 24px;
}
.input-container{
    padding: 10px 0px;
}
.button-container{
    padding: 15px 0px;
}

button{
    padding: 10px;
    font-size: 36px !important;
    min-width: 100%;
    border-radius: 25px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

button[disabled=true]{
    background-color: grey !important;
    color: lightgray !important;
}

.registration-link{
    cursor: pointer;
    text-decoration: underline;
}

p{
    color: $my-dark-color;
    margin: 0px;
    padding: 0px;
}
