/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$my-primary-color: #679186;
$my-secondary-color: #BBD4CE;
$my-dark-color: #405a53;

html{
  height: 100%;
}

body{
    margin: 0px;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.list{
  margin: 0% 15%;
}

.rounded-item{
  border-radius: 50px;
}

.footer{
  height: 100px !important;
  font-size: 20px;
}

.tile-text{
  color: $my-secondary-color;
}

.tile-header{
  color: $my-dark-color;
}

mat-grid-tile{
  cursor: pointer;
  background-color: $my-primary-color;
}

input[type=checkbox] {
  transform: scale(3);
}

/* width */
::-webkit-scrollbar {
  margin: 10px;
  padding: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 20px 0px;
  border-radius: 10px;
  background: #BBD4CE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #679186;
  background-clip: padding-box;
}

.mat-primary{
  background-color: $my-primary-color !important;
  color: $my-secondary-color !important;
}

.mat-secondary{
  color: $my-primary-color !important;
  background-color: $my-secondary-color !important;
}

.mat-radio-inner-circle{
  background:$my-primary-color !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: $my-primary-color !important;
}

.task-title{
  color: $my-dark-color;
}

.row {
  display: flex;
  min-width: 100%;
}

.col{
  display: flex;
  align-items: center;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 2px solid red;
}

.col-25{
  min-width: 25%;
}

.col-15{
  min-width: 15%;
}

.col-70{
  min-width: 70%;
}

.col-50{
  min-width: 50%;
}

.col-75{
  min-width: 75%;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: end;
}

.justify-start{
  justify-content: end;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

button[disabled=true]{
  background-color: grey !important;
  color: lightgray !important;
}

.custom-dialog-container .mat-dialog-container {
  width: 60vw;
  height: 40vw;
  padding: 0px;
  border-radius: 25px;
  background-color: $my-secondary-color;
}

.choose-difficulty-dialog-container .mat-dialog-container{
  font-size: 36px;
  justify-content: center;
  background-color: $my-primary-color;
  border-radius: 50px;
}

.short-statistic-dialog-container .mat-dialog-container {
  width: 30vw;
  height: 25vw;
  padding: 0px;
  border-radius: 25px;
  background-color: $my-secondary-color;
}

.statistic-info-dialog-container .mat-dialog-container {
  width: 50vw;
  height: 35vw;
  padding: 0px;
  border-radius: 25px;
  background-color: $my-secondary-color;
}