.content-container{
    min-height: 80%; 
    height: 80%; 
}

.top-menu-container{
    min-height: 10%; 
    height: 10%; 
    color: #BBD4CE;
    background-color: #679186;
    display:flex;
    align-items:center;
}

.footer-container{
    min-height: 10%; 
    height: 10%; 
    color: #BBD4CE;
    background-color: #679186;
}